<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- bundle-cmp tests logging configuration -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} %-6p [%c:%M:%L] - %m%n"/>
		</layout>
	</appender>
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="all.log" />
		<param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-6p [%c:%M:%L] - %m%n"/>
		</layout>
	</appender>

    <logger name="cz.zcu.kiv" additivity="false">
        <level value="info"/>
        <appender-ref ref="detailedConsoleAppender"/>
        <appender-ref ref="detailedLogFileAppender"/>
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="detailedConsoleAppender"/>
        <appender-ref ref="detailedLogFileAppender"/>
    </root>

</log4j:configuration>